# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log
!logs/.gitkeep

# OS
.DS_Store
Thumbs.db

# Data files (important for your CNV workflow)
sampledata/
*.cnv
*.xml